@use "variables" as v;
@use "mixins" as m;
@use "placeholders";
@use "sass:color";

.header {
  width: 100%;
  height: 50px;
  background-color: color.adjust(v.$color_white, $alpha: -0.9);
  // background-color: v.$color_primary;
  border-bottom: 1px solid v.$color_white;

  .nav {
    height: 50px;
    @include m.d-flex(start, center);

    &__title {
      height: 100%;
      width: 255px;
      border-right: 1px solid v.$color_white;
      @include m.d-flex(center, center);

      &-link {
        font-size: 25px;
        font-weight: 500;
        color: v.$color_white;

        span {
          font-weight: 700;
        }

        @extend %hover-black;
      }
    }

    &__links {
      flex-grow: 1;

      .list {
        @include m.d-flex(start, center, nowrap, row, min(100px, 4vw), 0);
        padding: 0 0 0 min(100px, 4vw);

        &__item {
          &-link {
            font-weight: 400;
            font-size: 22px;
            color: v.$color_white;
            @extend %hover-black;
          }
        }
      }

      @media (max-width: v.$media_lg) {
        .list {
          @include m.d-flex(center, center, nowrap, row, min(100px, 4vw), 0);
          padding: 0;
        }
      }
      @media (max-width: v.$media_md) {
      }
    }

    .covid {
      height: 100%;
      @include m.d-flex(center, center);
      border: {
        left: 1px solid v.$color_white;
        right: 1px solid v.$color_white;
      }
      padding: 0 30px;

      &__link {
        font-weight: 700;
        font-size: 16px;
        color: v.$color_white;

        @extend %hover-black;
      }
    }

    .globe {
      height: 100%;
      width: 90px;
      @include m.d-flex(center, center);

      &__link {
        &-icon {
          width: 27px;
          height: 28px;
          fill: v.$color_white;
          @extend %hover-black-icon;
        }
      }
    }
  }
}
